In [1]:
import requests
import pandas as pd

In [2]:
url="https://www3.septa.org/hackathon/TrainView/"
d=pd.read_json(url)

In [3]:
d.head()

,SOURCE,TRACK,TRACK_CHANGE,consist,dest,lat,late,line,lon,nextstop,service,trainno
0,Wilmington,,,"375,374",Norristown,40.003984,3,Manayunk/Norristown,-75.165644,East Falls,LOCAL,222
1,Norristown,,,"302,367,366",Wilmington,39.945263,7,Wilmington/Newark,-75.197341,Darby,LOCAL,225
2,Norristown,,,"450,449,278",Marcus Hook,40.113698,0,Manayunk/Norristown,-75.349899,Norristown TC,LOCAL,227
3,West Trenton,S,,"138,137,409",Elwyn,40.041583,0,Media/Elwyn,-75.134850,Temple U,LOCAL,323
4,Elwyn,,,"301,173,174",West Trenton,40.060545,9,West Trenton,-75.128449,Jenkintown-Wyncote,LOCAL,324

In [4]:
# We want the latest readings..
url="https://www3.septa.org/hackathon/TrainView/"
d=pd.read_json(url)

# Make changes on cols
cols = ['sum','mean','max','min','count']
f = {'late':cols}
g=d[['line','late']].groupby(['line']).agg(f)
g.columns = cols
g=g.reset_index()
# g.to_json()
g.values.tolist()

[['Airport', 0, 0.0, 0, 0, 1],
 ['Chestnut Hill East', 0, 0.0, 0, 0, 1],
 ['Chestnut Hill West', 0, 0.0, 0, 0, 1],
 ['Lansdale/Doylestown', 11, 3.6666666666666665, 6, 0, 3],
 ['Manayunk/Norristown', 3, 1.5, 3, 0, 2],
 ['Media/Elwyn', 1, 0.5, 1, 0, 2],
 ['Paoli/Thorndale', 19, 6.333333333333333, 10, 4, 3],
 ['Trenton', 1, 1.0, 1, 1, 1],
 ['Warminster', 1, 0.3333333333333333, 1, 0, 3],
 ['West Trenton', 9, 9.0, 9, 9, 1],
 ['Wilmington/Newark', 7, 7.0, 7, 7, 1]]

In [5]:
g.values.tolist()

[['Airport', 0, 0.0, 0, 0, 1],
 ['Chestnut Hill East', 0, 0.0, 0, 0, 1],
 ['Chestnut Hill West', 0, 0.0, 0, 0, 1],
 ['Lansdale/Doylestown', 11, 3.6666666666666665, 6, 0, 3],
 ['Manayunk/Norristown', 3, 1.5, 3, 0, 2],
 ['Media/Elwyn', 1, 0.5, 1, 0, 2],
 ['Paoli/Thorndale', 19, 6.333333333333333, 10, 4, 3],
 ['Trenton', 1, 1.0, 1, 1, 1],
 ['Warminster', 1, 0.3333333333333333, 1, 0, 3],
 ['West Trenton', 9, 9.0, 9, 9, 1],
 ['Wilmington/Newark', 7, 7.0, 7, 7, 1]]

In [11]:
org = "30th%20Street%20Station"
des = "Elkins%20Park"
url="https://www3.septa.org/hackathon/NextToArrive/{}/{}/10".format(org,des)
# 30th to Elkins
d=pd.read_json(url)
d['orig_train']=d['orig_train'].apply(lambda x: str(x))


url="https://www3.septa.org/hackathon/Arrivals/{}/28/".format(org)
records = requests.get(url).json()
# o=pd.read_json(url)
# o.head()
records
time = list(records.keys())[0]
n = records[time][0]['Northbound']
dn=pd.DataFrame(n)

p=d.merge(dn[['train_id','track','track_change','status']], 'left', left_on=['orig_train'],
                                  right_on=['train_id'])

p[['track','orig_departure_time','status','orig_arrival_time','orig_line','orig_train','train_id']]

,track,orig_departure_time,status,orig_arrival_time,orig_line,orig_train,train_id
0,5,6:00PM,On Time,6:29PM,Warminster,452,452
1,1,6:16PM,5 min,6:46PM,Lansdale/Doylestown,544,544
2,5,7:00PM,On Time,7:29PM,Warminster,456,456
3,1,7:16PM,On Time,7:46PM,Lansdale/Doylestown,548,548
4,5,8:00PM,On Time,8:29PM,Warminster,460,460
5,1,8:16PM,On Time,8:46PM,Lansdale/Doylestown,552,552
6,5,9:00PM,On Time,9:29PM,Warminster,464,464
7,1,9:16PM,On Time,9:46PM,Lansdale/Doylestown,556,556
8,5,10:00PM,On Time,10:29PM,Warminster,468,468
9,NaN,10:16PM,NaN,10:46PM,Lansdale/Doylestown,560,NaN

In [7]:
url="https://www3.septa.org/hackathon/Arrivals/{}/28/".format(org)
records = requests.get(url).json()
# o=pd.read_json(url)
# o.head()
records
time = list(records.keys())[0]
n = records[time][0]['Northbound']
dn=pd.DataFrame(n)
dn.head(3)

,depart_time,destination,direction,line,next_station,origin,path,platform,platform_change,sched_time,service_type,status,track,track_change,train_id
0,2017-12-17 18:00:00.000,Warminster,N,Warminster,University City,Airport Terminal E-F,R4N,,None,2017-12-17 17:59:01.000,LOCAL,On Time,5,None,452
1,2017-12-17 18:15:00.000,West Trenton,N,Media/Elwyn,Morton,Elwyn Station,R3N,,None,2017-12-17 18:14:01.000,LOCAL,1 min,5,None,326
2,2017-12-17 18:16:00.000,Doylestown,N,Paoli/Thorndale,Radnor,Malvern,R5N,,None,2017-12-17 18:15:01.000,LOCAL,5 min,1,None,544

In [8]:
p=d.merge(dn[['train_id','track','track_change','status']], 'left', left_on=['orig_train'],
                                  right_on=['train_id'])

In [9]:
p[['track','orig_departure_time','status','orig_arrival_time','orig_line','orig_train','train_id']]

,track,orig_departure_time,status,orig_arrival_time,orig_line,orig_train,train_id
0,5,6:00PM,On Time,6:29PM,Warminster,452,452
1,1,6:16PM,5 min,6:46PM,Lansdale/Doylestown,544,544
2,5,7:00PM,On Time,7:29PM,Warminster,456,456
3,1,7:16PM,On Time,7:46PM,Lansdale/Doylestown,548,548
4,5,8:00PM,On Time,8:29PM,Warminster,460,460
5,1,8:16PM,On Time,8:46PM,Lansdale/Doylestown,552,552
6,5,9:00PM,On Time,9:29PM,Warminster,464,464
7,1,9:16PM,On Time,9:46PM,Lansdale/Doylestown,556,556
8,5,10:00PM,On Time,10:29PM,Warminster,468,468
9,NaN,10:16PM,NaN,10:46PM,Lansdale/Doylestown,560,NaN

In [10]:
url="https://www3.septa.org/hackathon/RRSchedules/?req1={}".format(540)
dt=pd.read_json(url)
dt

     act_tm   est_tm sched_tm                  station
0   4:29 pm  4:29 pm  4:26 pm                  Malvern
1   4:32 pm  4:32 pm  4:30 pm                    Paoli
2   4:35 pm  4:35 pm  4:33 pm               Daylesford
3   4:37 pm  4:37 pm  4:35 pm                   Berwyn
4   4:40 pm  4:40 pm  4:37 pm                    Devon
5   4:42 pm  4:42 pm  4:39 pm                Strafford
6   4:44 pm  4:44 pm  4:41 pm                  Wayne-A
7   4:46 pm  4:46 pm  4:43 pm               St. Davids
8   4:48 pm  4:48 pm  4:45 pm                   Radnor
9   4:50 pm  4:50 pm  4:47 pm                Villanova
10  4:52 pm  4:52 pm  4:50 pm                 Rosemont
11  4:54 pm  4:54 pm  4:53 pm                Bryn Mawr
12  4:57 pm  4:57 pm  4:56 pm                Haverford
13  4:58 pm  4:58 pm  4:58 pm                  Ardmore
14  5:01 pm  5:01 pm  5:00 pm                Wynnewood
15  5:02 pm  5:02 pm  5:02 pm                 Narberth
16  5:05 pm  5:05 pm  5:04 pm                   Merion
17  5:06 pm  5:06 pm  5:06 pm                Overbrook
18  5:14 pm  5:14 pm  5:15 pm      30th Street Station
19  5:23 pm  5:23 pm  5:20 pm         Suburban Station
20  5:27 pm  5:27 pm  5:25 pm        Jefferson Station
21  5:33 pm  5:33 pm  5:30 pm                 Temple U
22  5:37 pm  5:37 pm  5:32 pm           North Broad St
23  5:43 pm  5:43 pm  5:38 pm                Wayne Jct
24  5:48 pm  5:48 pm  5:42 pm             Fern Rock TC
25       na  5:50 pm  5:44 pm             Melrose Park
26       na  5:52 pm  5:46 pm              Elkins Park
27       na  5:55 pm  5:49 pm       Jenkintown-Wyncote
28       na  5:58 pm  5:52 pm                 Glenside
29       na  6:00 pm  5:54 pm              North Hills
30       na  6:02 pm  5:56 pm                  Oreland
31       na  6:05 pm  5:59 pm            Ft Washington
32       na  6:08 pm  6:02 pm                   Ambler
33       na  6:11 pm  6:05 pm                  Penllyn
34       na  6:14 pm  6:08 pm           Gwynedd Valley
35       na  6:17 pm  6:11 pm              North Wales
36       na  6:19 pm  6:13 pm                Pennbrook
37       na  6:25 pm  6:19 pm                 Lansdale
38       na  6:28 pm  6:22 pm                   9th St
39       na  6:30 pm  6:24 pm                  Fortuna
40       na  6:32 pm  6:26 pm                   Colmar
41       na  6:39 pm  6:33 pm                 Chalfont
42       na  6:43 pm  6:37 pm              New Britain
43       na  6:45 pm  6:39 pm  Delaware Valley College
44       na  6:51 pm  6:45 pm               Doylestown